@font-face {
  font-family: "open-sans-bold";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-style: bold;
}

@font-face {
  font-family: "open-sans-regular";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-style: normal;
}

body {
  max-width: 1660px;
  margin: auto;
}

.container {
  height: 449px;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.container:after {
  content: "";
  height: 449px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;

  z-index: -1;
}

.panel {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
}

.menu-list-item {
	display: inline;
}

.menu-list {
  list-style-type: none;
  font-family: "open-sans-regular", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  margin-right: 245px;
  float: right;
  padding-left: 0;
}

.menu-link {
  text-decoration: none;
  color: white;
  margin-left: 35px;
}

.menu-link:hover {
  text-decoration: underline;
  color: lightgray;
}

.menu-link:after {
  text-decoration: underline;
  color: white;
}

.line-menu {
  display: none;
}

.line-menu-item {
  width: 22px;
}

.header-logo {
  width: 179px;
  margin-left: 248px;
}

.title {
  font-family: "open-sans-bold", sans-serif;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  color: white;
  margin-top: 100px;
}

.block-header {
  font-family: "open-sans-bold", sans-serif;
  font-size: 20px;
  margin-top: 64px;
  margin-bottom: 14px;
  text-align: center;
  text-transform: uppercase;
}

.line {
  width: 65px;
  height: 1px;
  margin: auto;
  background-color: #e1d9bd;
  border: 1px solid #e1d9bd;
  margin-bottom: 29px;
}

.trend-news {
  display: flex;
  margin-bottom: 2px;
}

.trend-card-first {
  width: 414px;
  height: 319px;
  margin-left: -4px;
  margin-right: 4px;
  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  display: flex;
  z-index: 1;
}

.trend-card-first:after {
  content: "";
  height: 319px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend-card-first:hover {
  opacity: 0.85;
  transition: opacity 0.5s ease;
}

.trend-card-second {
  width: 414px;
  height: 319px;
  margin-right: 4px;
  background-image: url("../images/trend2.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  display: flex;
  z-index: 1;
}

.trend-card-second:after {
  content: "";
  height: 319px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend-card-second:hover {
  opacity: 0.85;
  transition: opacity 0.5s ease;
}

.trend-card-third {
  width: 414px;
  height: 319px;
  background-image: url("../images/trend3.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  display: flex;
  z-index: 1;
}

.trend-card-third:after {
  content: "";
  height: 319px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend-card-third:hover {
  opacity: 0.85;
  transition: opacity 0.5s ease;
}

.trend-card-fourth {
  width: 414px;
  height: 319px;
  margin-right: -4px;
  margin-left: 4px;
  background-image: url("../images/trend4.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  position: relative;
  display: flex;
  z-index: 1;
}

.trend-card-fourth:after {
  content: "";
  height: 319px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend-card-fourth:hover {
  opacity: 0.85;
  transition: opacity 0.5s ease;
}

.trand-box {
  position: absolute;
  justify-content: space-between;
  border: 3px solid rgba(225, 217, 189, 0.6);
  bottom: 0;
  margin-left: 18px;
  margin-right: 22px;
  margin-bottom: 16px;
  padding-top: 34px;
  padding-bottom: 37px;
  padding-left: 33px;
  padding-right: 33px;
}

.tag-block{
  display: flex;
}

.tag {
  text-decoration: none;
  font-family: "open-sans-bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;
  margin-right: 10px;
}

.tag:hover {
  text-decoration: underline;
}

.trend-text {
  font-family: "open-sans-bold", sans-serif;
  font-size: 20px;
  margin-top: 16px;
  text-transform: uppercase;
  color: white;
}

.news-block {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.news-cards {
  width: 760px;
}

.news-card {
  display: flex;
  margin-top: 59px;
}

.news-photo {
  width: 381px;
  height: 294px;
}

.news-description {
  width: 378px;
  margin-left: 31px;
  padding-top: 2px;
}

.title-block {
  margin-top: 6px;
  font-family: "open-sans-bold", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 24px;
  color: #0f0d0e;
}

.data-author-block {
  margin-top: 24px;
  font-size: 12px;
  display:flex;
}

.data {
  font-family: "open-sans-regular", sans-serif;
  color: #888888;
}

.author {
  font-family: "open-sans-bold", sans-serif;
  color: black;
  margin-left: 15px;
}

.description-block {
  margin-top: 45px;
  font-family: "open-sans-regular", sans-serif;
  color: #0f0d0e;
  font-size: 15px;
  line-height: 22px;
}

.description-block-second {
  margin-top: 18px;
  font-family: "open-sans-regular", sans-serif;
  color: #0f0d0e;
  font-size: 15px;
  line-height: 22px;
}

aside {
  width: 271px;
}

.posts {
  margin-top: 62px;
  text-align: center;
  font-family: "open-sans-bold", sans-serif;
  color: #0f0d0e;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.link-card {
  display: flex;
  margin-top: 22px;
}

.link-image {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.link-title {
  font-family: "open-sans-bold", sans-serif;
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 14px;
  line-height: 18px;
  margin-top: 5px;
}

.search {
  margin-top: 60px;
  display: flex;
  justify-content: space-between
}

.field {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
  height: 48px;
  border: none;
  padding: 0;
  background-color: #f4f7f6;
  font-family: "open-sans-regular", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  padding-left: 19px;
}

.field:hover {
  box-sizing: border-box;
  border: 1px solid #b59f5b;
}

.field:focus {
  outline: none;
  box-sizing: border-box;
  border: 1px solid #b59f5b;
}

.button {
  width: 48;
  height: 48;
  border: none;
  padding: 0;
  background-color: #b59f5b;
  border-radius: 0;
}

.button:hover {
  background-color: #323232;
}

.search_button {
  width: 18px;
  height: 18px;
  margin-top: 14px;
  margin-bottom: 13px;
  margin-left: 15px;
  margin-right: 15px;
}

.email {
  display: flex;
  justify-content: space-between;
}

.email_button {
  width: 100%;
  height: 48px;
  font-family: "open-sans-bold", sans-serif;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 18px;
  border: none;
  padding: 0;
  background-color: #b59f5b;
  border-radius: 0;
}

.email_button:hover {
  background-color: #323232;
}

.list-tags {
  width: 100%;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.tag-in-list {
  border: 3px solid #eeeeee;
  font-family: "open-sans-bold", sans-serif;
  font-size: 12px;
  background-color: white;
  color: #0f0d0e;
  text-transform: uppercase;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 5px;
}

.tag-in-list:hover {
  border: 3px solid #b59f5b;
}

.themes-item {
  font-family: "open-sans-bold", sans-serif;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

.themes-item:hover {
  color: #b59f5b;
}

.themes-quantity {
  font-family: "open-sans-bold", sans-serif;
  font-size: 12px;
  color: #b59f5b;
  vertical-align: super;
  margin-left: 2px;
}

.line-themes {
  width: 100%;
  border-top: 1px solid #eeeeee;
  margin-top: 13px;
  margin-bottom: 13px;
}

.shop-block {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.shop-card {
  width: 347px;
  display: flex;
  flex-direction: column;
}

.shop-card-image {
  width: 300px;
  height: 204px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.shop-card-description {
  height: 196px;
  border: 3px solid #b59f5b;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 55px;
  padding-bottom: 26px;
  margin-top: -32px;
}

.shop-description-block {
  margin-top: 5px;
  font-family: "open-sans-regular", sans-serif;
  color: #0f0d0e;
  font-size: 15px;
  line-height: 22px;
}

.shop-link {
  text-decoration: none;
  color: #b59f5b;
}

.shop-link:hover {
  text-decoration: underline;
  color: lightgray;
}

.buy-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.price-block {
  display: block;
  align-content: center;
}

.old-price {
  font-family: "open-sans-bold", sans-serif;
  font-size: 14px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-decoration: line-through;
}

.new-price {
  font-family: "open-sans-bold", sans-serif;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
}

.buy-button {
  border: none;
  padding: 0;
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  font-family: "open-sans-bold", sans-serif;
  font-size: 14px;
  color: white;
  text-transform: uppercase;
}

.link-buy-button {
  text-decoration: none;
  color: white;
}

.social-networks {
  height: 83px;
  width: 1170px;
  margin: auto;
  margin-top: 64px;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
}

.link-social-networks {
  display: flex;
  justify-content: center;
}

.social-networks-icon {
  width: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.license {
  margin-top: 73px;
  margin-bottom: 47px;
  font-family: "open-sans-bold", sans-serif;
  font-size: 12px;
  color: #999999;
  text-align: center;
}

 .popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  z-index: 2;
} 

.popup {
  width: 390px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.exit_popup {
  width: 15px;
  height: 15px;
  margin-top: 215px;
  margin-bottom: 8px;
  float: right;
}
 
.popup-window {
  width: 330px;
  min-height: 590px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.popup-header {
  font-family: "open-sans-bold", sans-serif;
  text-align: center;
  font-size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
  margin-top: 54px;
  margin-bottom: 14px;
}

.question {
  font-family: "open-sans-regular", sans-serif;
  font-size: 13px;
  color: black;
  margin-bottom: 7px;
}

.first-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  font-family: "open-sans-regular", sans-serif;
  font-size: 13px;
  width: 100%;
  height: 48px;
  border: none;
  background-color: #f4f7f6;
  padding-left: 18px;
  margin-bottom: 26px;
  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
  background-size: 10px;
  scrollbar-width: 0;
}

.first-input:focus {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #b9a464;
}

.radio-button-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 26px;
  }

.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 0;
  margin-left: 0;
  margin-right: 2px;
}

.radio-button {
  margin-right: 15px;
  font-family: "open-sans-regular", sans-serif;
  font-size: 13px;
}

.radio:checked {
  background-image: url("../svg/form-circle.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.second-input {
  min-width: 100%;
  max-width: 100%;
  min-height: 130px;
  border: none;
  font-family: "open-sans-regular", sans-serif;
  font-size: 13px;
  color: black;
  box-sizing: border-box;
  background-color: #f4f7f6;
  margin-bottom: 26px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 17px;
}

.second-input:focus {
  outline: none;
  box-sizing: border-box;
  border: 1px solid #b9a464;
}

.send-button {
  font-family: "open-sans-bold", sans-serif;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  width: 100%;
  height: 48px;
  border: none;
  padding: 0;
  background-color: #b59f5b;
  border-radius: 0;
  margin-bottom: 55px;
}

.send-button:hover {
  background-color: #323232;
}

@media (min-width: 768px) and (max-width: 1199px) and (orientation: portrait),
       (min-width: 640px) and (max-width: 1199px) and (orientation: landscape) {

  .exit_popup {
    width: 28px;
    height: 28px;
  }

  .radio {
    width: 26px;
    height: 26px;
  }

  .radio-button {
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .container {
    background-image: url("../images/banner-bg-tablet.jpg");
  }

  .header-logo {
    width: 158px;
    margin-left: 35px;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .menu-list {
    margin-right: 30px;
  }
  
  .menu-link {
    margin-left: 29px;
/*    display: none;*/
  }

  .line-menu {
    width: 22px;
    height: 19px;
    margin-right: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .line-menu-item {
    height: 3px;
    background-color: white;
  }

  .title {
    font-size: 40px;
  }
  
  .news-block {
    width: 100vW;
  }

  .trend-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 498px;
  }
  
  .trend-card-first {
    width: 49.9%;
    margin: 0;
    margin-bottom: 2px;
  }

  .trend-card-second {
    width: 49.9%;
    margin: 0;
    margin-bottom: 2px;
  }

  .trend-card-third {
    width: 49.9%;
    margin: 0;
  }

  .trend-card-fourth {
    width: 49.9%;
    margin: 0;
  }

  .news-block {
    justify-content: center;
  }

  .news-cards {
    width: 51%;
    margin-left: 35px;
    margin-right: 35px;
  }

  .news-card {
    flex-wrap: wrap;
  }

  .news-photo {
    min-width: 51vw;
    min-height: 39.3vw;
    margin-bottom: 16px
  }

  .news-description {
    min-width: 51vw;
    margin-left: 0;
  }

  aside {
    margin-right: 35px;
    min-width: 271px;
  }

  .shop-block {
    width: 90.89vw;
    margin-left: 35px;
    margin-right: 35px;
    flex-wrap: wrap;

  }

  .shop-card {
    width: 48.7%;
    margin-bottom: 28px;
  }

  .shop-card-image {
    width: 37.89vw;
    height: 29.43vw;
  }

  .social-networks {
    margin-top: 36px;
    width: 90.89vw;
  }

}

@media (max-width: 767px) and (orientation: portrait), 
       (max-width: 639px) and (orientation: landscape) {

  .exit_popup {
    width: 28px;
    height: 28px;
    margin-top: 23px;
}
  
  .popup {
    width: 330px;
  }

  .popup-window {
    width: 270px;
    height: 546px;
  }

  .popup-header {
    margin-top: 29px;
  }

  .radio {
    width: 26px;
    height: 26px;
  }

  .radio-button {
    margin-right: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .container {
    background-image: url("../images/banner-mobile.jpg");
    height: 177.78vw;

  }

  .container:after {
    height: 177.78vw;
  }

  .panel {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    padding-top: 32px;
  }

  .header-logo {
    width: 74.72vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 47.22vw;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: right;
  }

  .menu-list {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 30px;
  }
  
  .menu-link {
    margin-left: 29px;
/*    display: none;*/
  }

  .line-menu {
    width: 22px;
    height: 19px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .line-menu-item {
    height: 3px;
    background-color: white;
  }

  .title {
    font-size: 26px;
    line-height: 36px;
    margin-top: 43px;
  }

  .news-block {
    width: 100vW;
  }

  .trend-news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 498px;
  }
  
  .trend-card-first {
    width: 100%;
    height: 64.17vw;
    margin: 0;
    margin-bottom: 2px;
    justify-content: center;
  }

  .trend-card-first:after {
    height: 64.17vw;
  }

  .trend-card-second {
    width: 100%;
    height: 64.17vw;
    margin: 0;
    margin-bottom: 2px;
    justify-content: center;
  }

  .trend-card-second:after {
    height: 64.17vw;
  }

  .trend-card-third {
    width: 100%;
    height: 64.17vw;
    margin: 0;
    margin-bottom: 2px;
    justify-content: center;
  }

  .trend-card-third:after {
    height: 64.17vw;
  }

  .trend-card-fourth {
    width: 100%;
    height: 64.17vw;
    margin: 0;
    justify-content: center;
  }

  .trend-card-fourth:after {
    height: 64.17vw;
  }

  .trend-text {
    font-size: 16px;
  }

  .trand-box {
    width: 71.67vw;
    margin-left: 15px;
    margin-right: 15px;
  }

  .news-block {
    justify-content: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .news-cards {
    width: 91.66vw;
    margin-left: 15px;
    margin-right: 15px;
  }

  .news-card {
    flex-wrap: wrap;
  }

  .news-photo {
    width: 91.66vw;
    height: 70.56vw;
  }

  .news-description {
    width: 91.66vw;
    margin-left: 0;
    margin-top: 12px;
  }

  .data-author-block {
    margin-top: 16px;
  }

  .description-block {
    margin-top: 16px;
  }

  aside {
    margin-right: 15px;
    margin-left: 15px;
    width: 91.66vw;
  }

  .list-tags {
    height: 66px;
    justify-content: center;
  }

  .tag-in-list {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .shop-block {
    width: 90.89vw;
    margin-left: 15px;
    margin-right: 15px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .shop-card {
    width: 100%;
    margin-bottom: 28px;
  }

  .shop-card-image {
    width: 78.89vw;
    height: 56.67vw;
  }

  .social-networks {
    margin-top: 36px;
    width: 90.89vw;
  }

}