@font-face {
  font-family: "open-sans-bold";
  src: url("../fonts/OpenSans-Bold.ttf");
  font-style: bold;
}

@font-face {
  font-family: "open-sans-regular";
  src: url("../fonts/OpenSans-Regular.ttf");
  font-style: normal;
}

body {
  max-width: 1660px;
  margin: auto;
}

.container {
  height: 449px;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.container:after {
  content: "";
  height: 449px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;

  z-index: -1;
}

.panel {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
}

.menu-list-item {
	display: inline;
}

.menu-list {
  list-style-type: none;
  font-family: "open-sans-regular", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  color: white;
  margin-right: 245px;
  float:right;
  padding-left: 0;
}

.menu-link {
  text-decoration: none;
  color: white;
  margin-left: 35px;
}

.menu-link:hover {
  text-decoration: underline;
  color: lightgray;
}

.menu-link:after {
  text-decoration: underline;
  color: white;
}

.header-logo {
  width: 179px;
  margin-left: 248px;
}

.title {
  font-family: "open-sans-bold", sans-serif;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
  font-size: 45px;
  color: white;
  margin-top: 100px;
}

.block-header {
  font-family: "open-sans-bold", sans-serif;
  font-size: 20px;
  margin-top: 64px;
  margin-bottom: 14px;
  text-align: center;
  text-transform: uppercase;
}

.line {
  width: 65px;
  height: 1px;
  margin: auto;
  background-color: #e1d9bd;
  border: 1px solid #e1d9bd;
  margin-bottom: 29px;
}

.trend-news {
  display: flex;
  margin-bottom: 2px;
}

.trend-card-first {
  width: 414px;
  height: 319px;
  margin-left: -4px;
  margin-right: 4px;
  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  display: flex;
  z-index: 1;
}

.trend-card-first:after {
  content: "";
  height: 319px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend-card-first:hover {
  opacity: 0.85;
  transition: opacity 0.5s ease;
}

.trend-card-second {
  width: 414px;
  height: 319px;
  margin-right: 4px;
  background-image: url("../images/trend2.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  display: flex;
  z-index: 1;
}

.trend-card-second:after {
  content: "";
  height: 319px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend-card-second:hover {
  opacity: 0.85;
  transition: opacity 0.5s ease;
}

.trend-card-third {
  width: 414px;
  height: 319px;
  background-image: url("../images/trend3.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.trend-card-third:after {
  content: "";
  height: 319px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend-card-third:hover {
  opacity: 0.85;
  transition: opacity 0.5s ease;
}

.trend-card-fourth {
  width: 414px;
  height: 319px;
  margin-right: -4px;
  margin-left: 4px;
  background-image: url("../images/trend4.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  position: relative;
  z-index: 1;
}

.trend-card-fourth:after {
  content: "";
  height: 319px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.6;
  z-index: -1;
}

.trend-card-fourth:hover {
  opacity: 0.85;
  transition: opacity 0.5s ease;
}

.trand-box {
  position: absolute;
  justify-content: space-between;
  max-width: 302px;
  border: 3px solid rgba(225, 217, 189, 0.6);
  bottom: 0;
  margin-left: 18px;
  margin-right: 22px;
  margin-bottom: 16px;
  padding-top: 34px;
  padding-bottom: 37px;
  padding-left: 33px;
  padding-right: 33px;
}

.tag-block{
  display: flex;
}

.tag {
  text-decoration: none;
  font-family: "open-sans-bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #b59f5b;
  margin-right: 10px;
}

.tag:hover {
  text-decoration: underline;
}

.trend-text {
  font-family: "open-sans-bold", sans-serif;
  font-size: 20px;
  margin-top: 16px;
  text-transform: uppercase;
  color: white;
}

.news-block {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.news-cards {
  width: 760px;
}

.news-card {
  display: flex;
  margin-top: 59px;
}

.news-photo {
  width: 381px;
  height: 294px;
}

.news-description {
  width: 378px;
  margin-left: 31px;
  padding-top: 2px;
}

.title-block {
  margin-top: 6px;
  font-family: "open-sans-bold", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 24px;
  color: #0f0d0e;
}

.data-author-block {
  margin-top: 24px;
  font-size: 12px;
  display:flex;
}

.data {
  font-family: "open-sans-regular", sans-serif;
  color: #888888;
}

.author {
  font-family: "open-sans-bold", sans-serif;
  color: black;
  margin-left: 15px;
}

.description-block {
  margin-top: 45px;
  font-family: "open-sans-regular", sans-serif;
  color: #0f0d0e;
  font-size: 15px;
  line-height: 22px;
}

.description-block-second {
  margin-top: 18px;
  font-family: "open-sans-regular", sans-serif;
  color: #0f0d0e;
  font-size: 15px;
  line-height: 22px;
}

aside {
  width: 271px;
}

.posts {
  margin-top: 62px;
  text-align: center;
  font-family: "open-sans-bold", sans-serif;
  color: #0f0d0e;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.link-card {
  display: flex;
  margin-top: 22px;
}

.link-image {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.link-title {
  font-family: "open-sans-bold", sans-serif;
  color: black;
  text-transform: uppercase;
  size: 14px;
  margin-bottom: 14px;
  line-height: 18px;
  margin-top: 5px;
}

.search {
  margin-top: 60px;
  display: flex;
  justify-content: space-between
}

.field {
  width: 100%;
  height: 48px;
  border: none;
  padding: 0;
  background-color: #f4f7f6;
  font-family: "open-sans-regular", sans-serif;
  color: rgba(0, 0, 0, 0.54);
  padding-left: 19px;
}

.field:hover {
  box-sizing: border-box;
  border: 1px solid #b59f5b;
}

.field:focus {
  outline: none;
  box-sizing: border-box;
  border: 1px solid #b59f5b;
}

.button {
  width: 48;
  height: 48;
  border: none;
  padding: 0;
  background-color: #b59f5b;
  border-radius: 0;
}

.button:hover {
  background-color: #323232;
}

.search_button {
  width: 18px;
  height: 18px;
  margin-top: 14px;
  margin-bottom: 13px;
  margin-left: 15px;
  margin-right: 15px;
}

.email {
  display: flex;
  justify-content: space-between;
}

.email_button {
  width: 100%;
  height: 48px;
  font-family: "open-sans-bold", sans-serif;
  color: white;
  size: 14px;
  text-transform: uppercase;
  margin-top: 18px;
  border: none;
  padding: 0;
  background-color: #b59f5b;
  border-radius: 0;
}

.email_button:hover {
  background-color: #323232;
}

.list-tags {
  width: 100%;
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.tag-in-list {
  border: 3px solid #eeeeee;
  font-family: "open-sans-bold", sans-serif;
  size: 12px;
  background-color: white;
  color: #0f0d0e;
  text-transform: uppercase;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-right: 5px;
}

.tag-in-list:hover {
  border: 3px solid #b59f5b;
}

.themes-item {
  font-family: "open-sans-bold", sans-serif;
  size: 14px;
  color: black;
  text-decoration: none;
}

.themes-item:hover {
  color: #b59f5b;
}

.themes-quantity {
  font-family: "open-sans-bold", sans-serif;
  size: 12px;
  color: #b59f5b;
  vertical-align: super;
  margin-left: 2px;
}

.line-themes {
  width: 100%;
  border-top: 1px solid #eeeeee;
  margin-top: 13px;
  margin-bottom: 13px;
}

.shop-card {
  width: 347px;
  display: flex;
  flex-direction: column;
}

.shop-card-image {
  width: 300px;
  height: 204px;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.shop-card-description {
  height: 196px;
  border: 3px solid #b59f5b;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 55px;
  padding-bottom: 26px;
  margin-top: -32px;
}

.shop-description-block {
  margin-top: 5px;
  font-family: "open-sans-regular", sans-serif;
  color: #0f0d0e;
  font-size: 15px;
  line-height: 22px;
}

.shop-link {
  text-decoration: none;
  color: #b59f5b;
}

.shop-link:hover {
  text-decoration: underline;
  color: lightgray;
}

.buy-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.price-block {
  display: block;
  align-content: center;
}

.old-price {
  font-family: "open-sans-bold", sans-serif;
  size: 14px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-decoration: line-through;
}

.new-price {
  font-family: "open-sans-bold", sans-serif;
  size: 20px;
  color: #0f0d0e;
  text-transform: uppercase;
}

.buy-button {
  border: none;
  padding: 0;
  width: 140px;
  height: 48px;
  background-color: #b59f5b;
  font-family: "open-sans-bold", sans-serif;
  size: 20px;
  color: white;
  text-transform: uppercase;
}

.link-buy-button {
  text-decoration: none;
  color: white;
}

.social-networks {
  height: 83px;
  width: 1170px;
  margin: auto;
  margin-top: 64px;
  background-color: #f4f7f6;
  display: flex;
  justify-content: center;
}

.link-social-networks {
  display: flex;
  justify-content: center;
}

.social-networks-icon {
  width: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.license {
  margin-top: 73px;
  margin-bottom: 47px;
  font-family: "open-sans-bold", sans-serif;
  size: 12px;
  color: #999999;
  text-align: center;
}